<!DOCTYPE html>
<html>
    <head>
        <title>Annonce publiée</title>
        <body>
            <h1>Bien joué, votre annonce est maintenant publiée!</h1>
            <p>N'hésitez pas à la partager et à en parler autour de vous pour accélerer la vente de votre véhicule. Nous sommes à votre disposition pour répondre à vos questions 🙂</p>
            <a href='/acheter'>Cliquez ici si pour voir toutes les annonces</a>
        </body>
    </head>
    
</html>