<!DOCTYPE html>
<html>
    <head>
        <title>Annonce publiée</title>
    </head>
    <body>
        <h1>Acheter un véhicule</h1>
<a href='/form'>Cliquez ici si vous souhaitez vendre votre véhicule</a>
    </body>
</html>