<!DOCTYPE html>
<html lang="en">
    <head>
    
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        <!-- Mon CSS -->
        <link rel="stylesheet" href="style.css"/>
        
        <title>Cars for sale - Acheter</title>
    </head>>
    <body><
        <!-- Menu -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="images/cars-for-sale-logo.png" width="30" height="30" alt="Logo de Cars for sale">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">ACCUEIL <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/acheter">ACHETER</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/form">VENDRE</a>
            </li>
            </ul>
        </div>
        </nav>  
        <title>Annonce publiée</title>
            <h1>Bien joué, votre annonce est maintenant publiée!</h1>
            <p>N'hésitez pas à la partager et à en parler autour de vous pour accélerer la vente de votre véhicule. Nous sommes à votre disposition pour répondre à vos questions 🙂</p>
            <a href='/acheter'>Cliquez ici si pour voir toutes les annonces</a>
    </body>
</html>